/**

 * @name Dark Discord
 * @version 1.0
 * @description An actual dark mode for discord.
 * @source https://github.com/hellbound1337/dark-discord
 * @authorId 426147523305144322
 * @author hellbound
 * @donate https://paypal.me/zzzmario
 * @invite pCc7q4Z

**/

@import url(https://raw.githack.com/hellbound1337/dark-discord/master/src/source.css);

.theme-dark,
.theme-light,
:root {
   --background-primary: #000000 !important;
   --background-secondary: #000000 !important;
   --background-secondary-alt: #000000 !important;
   --background-tertiary: #000000 !important;
   --background-accent: rgba(255, 255, 255, 0.04) !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
   --scrollbar-thin-thumb: #ffffff !important;
   --scrollbar-thin-track: #000000 !important;
}

.scroller-2LSbBU::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.scroller-2LSbBU::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.peopleList-3c4jOR::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.peopleList-3c4jOR::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.contentRegionScroller-26nc1e::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.contentRegionScroller-26nc1e::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.peopleList-3c4jOR {
    background: #000000;
}

.container-3baos1 {
    background: #000000;
}

.body-1ld4H7 {
    background: #000000;
}

.peopleColumn-29fq28 {
    background: #000000;
}

.section-2gLsgF {
    background: #000000;
}
